:root {
  --homeTitleTextColor: #8e05c2;
  --aboutTitleTextColor: #500b97;
  --mainTextColor: #5b0e88;
  --mainBackgroundColor: #000000;
  --buttonColor: #4b00ad;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin", sans-serif;
  color: var(--homeTitleTextColor);
}

p,
li,
span,
input,
textarea {
  font-family: "Cabin", sans-serif;
}

section {
  padding: 10px;
  margin: auto;
}

.home-title {
  color: var(--homeTitleTextColor);
}

.text-title {
  color: var(--aboutTitleTextColor);
}

.main-text {
  color: var(--mainTextColor);
}

.img-blob {
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 60%;
}

.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.25rem;
  color: var(--aboutTitleTextColor);
}

.nav-box {
  background-color: var(--mainBackgroundColor);
}

.button {
  display: inline;
  border-radius: 1rem;
  color: white;
  padding: 8.5px;
  background-color: var(--buttonColor);
}
