:root {
  --mainText: rgb(112, 14, 192);
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin", sans-serif;
  color: var(--mainText);
}

p,
li,
span,
input,
textarea {
  font-family: "Cabin", sans-serif;
}

section {
  padding: 10px;
  margin: auto;
}
