:root {
  --homeTitleTextColor: #8e05c2;
  --aboutTitleTextColor: #500b97;
  --mainTextColor: #5b0e88;
  --mainBackgroundColor: #000000;
  --buttonColor: #4b00ad;
  --contactTextColor: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin", sans-serif;
  color: var(--homeTitleTextColor);
}

p,
li,
span,
input,
textarea {
  font-family: "Cabin", sans-serif;
}

section {
  padding: 10px;
  min-height: 30vh;
}

.home-title {
  color: var(--homeTitleTextColor);
  margin-bottom: 10px;
}

.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  margin-top: 11vh;
  
}

.home_social-icon {
  font-size: 3rem;
  color: var(--aboutTitleTextColor);
}

.home-img{
  margin: 0;
}

.home-blob-img{
  width: fit-content;
  height: fit-content;
  align-items: center;
}

.text-title {
  color: var(--aboutTitleTextColor);
}

.main-text {
  color: var(--mainTextColor);
}

.img-blob {
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.nav-box {
  background-color: var(--mainBackgroundColor);
  min-height: 4vh;
}

.nav-button{
  color: white;
}

.button {
  display: inline;
  border-radius: 1rem;
  color: white;
  padding: 8.5px;
  background-color: var(--buttonColor);
}

.describe {
  justify-content: space-between;
  /* text-align: right; */
  align-items: center;
  margin-top: 8vh;
}

.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-top: 10vh;
  margin-right: 25px;
  max-width: 80%;
  max-height: 100vh;
  min-height: 30vh;
}

.proj-title {
  color: var(--aboutTitleTextColor);
  margin-top: 4px;
}

.proj-text {
  color: var(--mainTextColor);
  margin-top: .5rem;
}

.img-set {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-right: 25px;
  max-width: auto;
  max-height: 100vh;
  min-height: 30vh;
}

.contact-info-text {
  color: var(--contactTextColor);
}

.contact-form-text {
  color: var(--mainTextColor);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  
}

.footer-content {
  color: var(--contactTextColor);
}